version: 2.1
jobs:
  build:
    docker:
      - image: cypress/base:12.13.0
        environment:
          ## this enables colors in the output
          TERM: xterm
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          key: v1-app
      - run: yarn install
      - save_cache:
          key: v1-app
          paths:
            # since we use Yarn it caches NPM modules in ~/.cache
            # and Cypress caches its binary there!
            # to confirm:
            #   yarn cache dir
            #   npx print-cachedir Cypress
            - ~/.cache
      - run: yarn tsc
      - run: yarn lint
      - run: yarn cy:test
      # store videos and screenshots (if any) as CI artifacts
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots
